body{
  background-color:space tan ;
  color: white;
}
page{
  width: 1000px;
  margin: 1rem auto;
}
header{
  background-color blue;
  padding: 1rem;
}
main{
  backgound-color: red;
  padding: 1 rem;
}
footer{
  color: blue;

text-align: center;
}
